[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
ipython = "*"
pre-commit = "*"

[packages]
pytest-cov = "*"
test = "*"
ipython = "*"
click = "*"

[requires]
python_version = "3.7"
